annotated-doc
annotated-types
anyio
click
et_xmlfile
fastapi
h11
httptools
idna
Jinja2
MarkupSafe
openpyxl
pillow
pydantic
pydantic_core
pypdf
python-dotenv
python-multipart
PyYAML
starlette
typing-inspection
typing_extensions
uvicorn
watchfiles
websockets
